*{
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
nav ul{
    width: 100%;
    list-style-type: none;
    background-color: gray;
    text-align: center;
}
nav li{
    display: inline-flex;
    height: 50px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}
nav li:hover{
    background-color: black;}

.news-article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.news-article h3 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
}

.news-article p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
}

form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.4;
    resize: vertical;
}

input[type="submit"] {
    background-color: #0c2e8a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0955c9;
}