*{
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
nav ul{
    width: 100%;
    list-style-type: none;
    background-color: gray;
    text-align: center;
}
nav li{
    display: inline-flex;
    height: 50px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}
nav li:hover{
    background-color: black;}

    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
    
      th, td {
        text-align: left;
        padding: 8px;
      }
    
      th {
        background-color: #555555;
        color: white;
      }
    
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    
      #industry-filter, #sector-filter, #location-filter {
        margin-right: 10px;
      }
    
      .filter {
        margin-bottom: 10px;
      }
    
      button {
        padding: 6px 12px;
        background-color: #008CBA;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    
      button:hover {
        background-color: #005266;
      }