*{
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
nav ul{
    width: 100%;
    list-style-type: none;
    background-color: gray;
    text-align: center;
}
nav li{
    display: inline-flex;
    height: 50px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}
nav li:hover{
    background-color: black;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.contenido{
    display: flex;
    margin: 60px
}
.articulos{
    width: 80%;
    border-right: 3px solid black;
}
.secciones{
    display: flex;
    align-items: center;
    padding: 40px;
}
.menu-secundario{
    width: 20%;
    margin-top: 40px;
}
.menu-secundario a{
    display: block;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}
.menu-secundario a:hover {
    color: black;
    text-decoration: underline;
}
footer{
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    margin-top: 20px;
}
footer p{
    text-align: center;
    padding: 50px;
    
}