*{
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
nav ul{
    width: 100%;
    list-style-type: none;
    background-color: gray;
    text-align: center;
}
nav li{
    display: inline-flex;
    height: 50px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}
nav li:hover{
    background-color: black;}

    form {
        width: 50%;
        margin: 0 auto;
      }
      
    form label {
        display: block;
        margin-bottom: 10px;
        
      }
      
      form input[type="text"],
      form input[type="email"],
      form input[type="date"] {
        display: block;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
      }
      
      form input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

    h2{
        text-align: center;
        margin-top: 20px;
    }
      