*{
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
nav ul{
    width: 100%;
    list-style-type: none;
    background-color: gray;
    text-align: center;
}
nav li{
    display: inline-flex;
    height: 50px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}
nav li:hover{
    background-color: black;}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #0c2e8a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
    line-height: 1.2;
}

h2 {
    font-size: 24px;
    margin: 0;
    line-height: 1.2;
}

p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    font-size: 16px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.4;
    resize: vertical;
}

input[type="submit"] {
    background-color: #0c2e8a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0955c9;
}